.layout__wrapper {
  margin: 0 auto;
  display: grid;
  min-height: 100dvh;
  grid-template:
    "header header" auto
    "main main" 1fr
    "footer footer" auto;
}

.layout__header {
  grid-area: header;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layout__main {
  max-width: var(--app-width);
  padding: 2rem 15px;
  width: 100%;
  margin: 0 auto;
  grid-area: main;
}

.layout__footer {
  grid-area: footer;
  font-size: 0.9rem;
  font-weight: 300;
  padding: 1.25rem 15px 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
