.homepageIntro {
  max-width: 600px;
  margin: 2rem 0 9rem;
}

.homepageIntro__title {
  font-size: clamp(2rem, 4vw, 4.8rem);
  margin-bottom: 1rem;
}

.homepageIntro__supTitle {
  color: var(--c-primary);
  font-family: var(--font-secondary);
  font-size: 1.8rem;
  margin-top: 0;
}

.homepageIntro__description {
  color: var(--c-gray-500);
  font-size: 1.25rem;
}

.homepageIntro__searchBlock {
  margin-top: 3rem;
}
