.layout__wrapper {
  margin: 0 auto;
  display: grid;
  min-height: 100dvh;
  background-repeat: no-repeat;
  background-size: 45dvw;
  background-position: 90% 40%;
  background-image: url("/roses.png");
  grid-template:
    "header header" auto
    "main main" 1fr
    "footer footer" auto;
}

.layout__header {
  grid-area: header;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layout__main {
  grid-area: main;
  padding: 2rem;
  max-width: 1300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
}

.layout__footer {
  grid-area: footer;
  font-size: 0.9rem;
  font-weight: 300;
  padding: 1.25rem 2rem 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
