.layout__wrapper {
  display: grid;
  grid-template:
    "header header header" 80px
    "sidebar main main" calc(100dvh - 80px) / 320px auto auto;
}

.layout__header {
  grid-area: header;
  padding: 1rem 2rem;
  background: var(--c-gray-100);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.layout__main {
  grid-area: main;
  padding: 2rem;
}

.layout__sidebar {
  background: var(--c-gray-50);
  grid-area: sidebar;
}
